---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-6057716a-72587d3c54fa04a934bbb65f
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"streamassistantbot","scopes":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"user_id":"277558749","expires_in":13671}

        '
  recorded_at: Sun, 21 Mar 2021 16:16:42 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/chat/44322889/badges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"global_mod":{"alpha":"https://static-cdn.jtvnw.net/chat-badges/globalmod-alpha.png","image":"https://static-cdn.jtvnw.net/chat-badges/globalmod.png","svg":"https://static-cdn.jtvnw.net/chat-badges/globalmod.svg"},"admin":{"alpha":"https://static-cdn.jtvnw.net/chat-badges/admin-alpha.png","image":"https://static-cdn.jtvnw.net/chat-badges/admin.png","svg":"https://static-cdn.jtvnw.net/chat-badges/admin.svg"},"broadcaster":{"alpha":"https://static-cdn.jtvnw.net/chat-badges/broadcaster-alpha.png","image":"https://static-cdn.jtvnw.net/chat-badges/broadcaster.png","svg":"https://static-cdn.jtvnw.net/chat-badges/broadcaster.svg"},"mod":{"alpha":"https://static-cdn.jtvnw.net/chat-badges/mod-alpha.png","image":"https://static-cdn.jtvnw.net/chat-badges/mod.png","svg":"https://static-cdn.jtvnw.net/chat-badges/mod.svg"},"staff":{"alpha":"https://static-cdn.jtvnw.net/chat-badges/staff-alpha.png","image":"https://static-cdn.jtvnw.net/chat-badges/staff.png","svg":"https://static-cdn.jtvnw.net/chat-badges/staff.svg"},"turbo":{"alpha":"https://static-cdn.jtvnw.net/chat-badges/turbo-alpha.png","image":"https://static-cdn.jtvnw.net/chat-badges/turbo.png","svg":"https://static-cdn.jtvnw.net/chat-badges/turbo.svg"},"subscriber":null}'
  recorded_at: Sun, 21 Mar 2021 16:16:43 GMT
recorded_with: VCR 6.0.0
