---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-60577174-1103fa2406799911011a7bb1
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"streamassistantbot","scopes":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"user_id":"277558749","expires_in":13661}

        '
  recorded_at: Sun, 21 Mar 2021 16:16:52 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/ingests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ingests":[{"_id":1,"url_template":"rtmp://fra02.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"Europe:
        Germany, Frankfurt (2)","default":false},{"_id":2,"url_template":"rtmp://tyo01.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"Asia:
        Japan, Tokyo (1)","default":false},{"_id":3,"url_template":"rtmp://maa01.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"Asia:
        India, Chennai","default":false},{"_id":4,"url_template":"rtmp://dfw.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"US
        Central: Dallas, TX","default":false},{"_id":5,"url_template":"rtmp://bkk.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"Asia:
        Thailand, Bangkok","default":false},{"_id":6,"url_template":"rtmp://ord02.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"US
        East: Chicago, IL (2)","default":false},{"_id":7,"url_template":"rtmp://sin.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"Asia:
        Singapore","default":false},{"_id":8,"url_template":"rtmp://qro.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"NA:
        Mexico, Queretaro","default":false},{"_id":9,"url_template":"rtmp://hel.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"Europe:
        Finland, Helsinki","default":false},{"_id":10,"url_template":"rtmp://osl.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"Europe:
        Norway, Oslo","default":false},{"_id":11,"url_template":"rtmp://syd02.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"Australia:
        Sydney (2)","default":false},{"_id":12,"url_template":"rtmp://slc.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"US
        West: Salt Lake City, UT","default":false},{"_id":13,"url_template":"rtmp://arn.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"Europe:
        Sweden, Stockholm","default":false},{"_id":14,"url_template":"rtmp://sea.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"US
        West: Seattle, WA","default":false},{"_id":15,"url_template":"rtmp://ymq.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"NA:
        Canada, Quebec","default":false},{"_id":16,"url_template":"rtmp://tpe01.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"Asia:
        Taiwan, Taipei (1)","default":false},{"_id":17,"url_template":"rtmp://mia.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"US
        East: Miami, FL","default":false},{"_id":18,"url_template":"rtmp://sao.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"South
        America: Brazil, Sao Paulo","default":false},{"_id":19,"url_template":"rtmp://tyo03.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"Asia:
        Japan, Tokyo (3)","default":false},{"_id":20,"url_template":"rtmp://lhr03.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"Europe:
        UK, London (3)","default":false},{"_id":21,"url_template":"rtmp://lax.contribute.live-video.net/app/{stream_key}","availability":1.0,"name":"US
        West: Los Angeles, CA","de[...]
