---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-60577175-44568604021e156b3e054e3f
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"streamassistantbot","scopes":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"user_id":"277558749","expires_in":13660}

        '
  recorded_at: Sun, 21 Mar 2021 16:16:53 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token":{"valid":true,"authorization":{"scopes":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"created_at":"2021-03-21T15:49:26Z","updated_at":"2021-03-21T15:49:26Z"},"user_name":"streamassistantbot","user_id":"277558749","client_id":"<CLIENT_ID>","expires_in":13660}}'
  recorded_at: Sun, 21 Mar 2021 16:16:53 GMT
recorded_with: VCR 6.0.0
