---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-60577181-161fdf681dd19a8c5179d885
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"streamassistantbot","scopes":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"user_id":"277558749","expires_in":13648}

        '
  recorded_at: Sun, 21 Mar 2021 16:17:05 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/games/top
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"_total":3627,"top":[{"game":{"name":"Just Chatting","_id":509658,"giantbomb_id":0,"box":{"large":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-272x380.jpg","medium":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-136x190.jpg","small":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-52x72.jpg","template":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-{width}x{height}.jpg"},"logo":{"large":"https://static-cdn.jtvnw.net/ttv-logoart/Just%20Chatting-240x144.jpg","medium":"https://static-cdn.jtvnw.net/ttv-logoart/Just%20Chatting-120x72.jpg","small":"https://static-cdn.jtvnw.net/ttv-logoart/Just%20Chatting-60x36.jpg","template":"https://static-cdn.jtvnw.net/ttv-logoart/Just%20Chatting-{width}x{height}.jpg"},"localized_name":"Just
        Chatting","locale":"en-us"},"viewers":400944,"channels":4873},{"game":{"name":"Grand
        Theft Auto V","_id":32982,"giantbomb_id":0,"box":{"large":"https://static-cdn.jtvnw.net/ttv-boxart/Grand%20Theft%20Auto%20V-272x380.jpg","medium":"https://static-cdn.jtvnw.net/ttv-boxart/Grand%20Theft%20Auto%20V-136x190.jpg","small":"https://static-cdn.jtvnw.net/ttv-boxart/Grand%20Theft%20Auto%20V-52x72.jpg","template":"https://static-cdn.jtvnw.net/ttv-boxart/Grand%20Theft%20Auto%20V-{width}x{height}.jpg"},"logo":{"large":"https://static-cdn.jtvnw.net/ttv-log[...]
