---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-606655af-3b27c4d356ed38c534fa3f9d
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Thu, 01 Apr 2021 23:22:23 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"refresh_token","refresh_token":"<REFRESH_TOKEN>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-606655af-26ba20d36c0096913246ed12
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":14173,"refresh_token":"<REFRESH_TOKEN>","scope":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"token_type":"bearer"}

        '
  recorded_at: Thu, 01 Apr 2021 23:22:24 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <NEW_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"display_name":"StreamAssistantBot","_id":"277558749","name":"streamassistantbot","type":"user","bio":null,"created_at":"2018-11-23T20:32:14.972752Z","updated_at":"2021-03-24T17:35:05.436216Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/cbde4ea7-7186-4128-866d-bba7c5c479c3-profile_image-300x300.png","email":"stream.assistant.bot@outlook.com","email_verified":true,"partnered":false,"twitter_connected":false,"notifications":{"push":true,"email":false}}'
  recorded_at: Thu, 01 Apr 2021 23:22:24 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <OUTDATED_ACCESS_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"invalid oauth token"}'
  recorded_at: Thu, 01 Apr 2021 23:22:24 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <NEW_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"display_name":"StreamAssistantBot","_id":"277558749","name":"streamassistantbot","type":"user","bio":null,"created_at":"2018-11-23T20:32:14.972752Z","updated_at":"2021-03-24T17:35:05.436216Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/cbde4ea7-7186-4128-866d-bba7c5c479c3-profile_image-300x300.png","email":"stream.assistant.bot@outlook.com","email_verified":true,"partnered":false,"twitter_connected":false,"notifications":{"push":true,"email":false}}'
  recorded_at: Thu, 01 Apr 2021 23:22:24 GMT
recorded_with: VCR 6.0.0
