---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-60d1a121-7e9d4d32110fc4d2643a1f0b
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Tue, 22 Jun 2021 08:36:49 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"refresh_token","refresh_token":"<REFRESH_TOKEN>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-60d1a122-714d63a100ce2f22629266cc
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":15677,"refresh_token":"<REFRESH_TOKEN>","scope":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"token_type":"bearer"}

        '
  recorded_at: Tue, 22 Jun 2021 08:36:50 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users/44322889
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <NEW_ACCESS_TOKEN>
  response:
    status:
      code: 503
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"display_name":"dallas","_id":"44322889","name":"dallas","type":"user","bio":"Friendly,
        interactive, and very bald.","created_at":"2013-06-03T19:12:02.580593Z","updated_at":"2021-06-22T01:25:42.652624Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/4d1f36cbf1f0072d-profile_image-300x300.png"}'
  recorded_at: Tue, 22 Jun 2021 08:36:51 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users/44322889
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <NEW_ACCESS_TOKEN>
  response:
    status:
      code: 503
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"display_name":"dallas","_id":"44322889","name":"dallas","type":"user","bio":"Friendly,
        interactive, and very bald.","created_at":"2013-06-03T19:12:02.580593Z","updated_at":"2021-06-22T01:25:42.652624Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/4d1f36cbf1f0072d-profile_image-300x300.png"}'
  recorded_at: Tue, 22 Jun 2021 08:36:53 GMT
recorded_with: VCR 6.0.0
