---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-60577150-79f34bfa720cae5b1c8c6e0a
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"streamassistantbot","scopes":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"user_id":"277558749","expires_in":13697}

        '
  recorded_at: Sun, 21 Mar 2021 16:16:16 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"display_name":"StreamAssistantBot","_id":"277558749","name":"streamassistantbot","type":"user","bio":null,"created_at":"2018-11-23T20:32:14.972752Z","updated_at":"2021-03-21T08:47:34.305393Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/cbde4ea7-7186-4128-866d-bba7c5c479c3-profile_image-300x300.png","email":"stream.assistant.bot@outlook.com","email_verified":true,"partnered":false,"twitter_connected":false,"notifications":{"push":true,"email":false}}'
  recorded_at: Sun, 21 Mar 2021 16:16:17 GMT
recorded_with: VCR 6.0.0
