---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-606655b9-55f390656c48f8fe3fa3e691
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Thu, 01 Apr 2021 23:22:33 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"refresh_token","refresh_token":"<REFRESH_TOKEN>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-606655ba-65b3511529eaff880d28e346
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":13061,"refresh_token":"<REFRESH_TOKEN>","scope":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"token_type":"bearer"}

        '
  recorded_at: Thu, 01 Apr 2021 23:22:34 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/videos/followed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <NEW_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"videos":[{"title":"Mythic Raid night, Outriders SOON!  - 24/7 Live
        since 2013","description":null,"description_html":null,"broadcast_id":41233703357,"broadcast_type":"archive","status":"recording","tag_list":"","views":71,"url":"https://www.twitch.tv/videos/969588438","language":"en","created_at":"2021-03-31T01:48:34Z","viewable":"public","viewable_at":null,"published_at":"2021-03-31T01:48:34Z","delete_at":"2021-05-30T01:48:34Z","_id":"v969588438","recorded_at":"2021-03-31T01:48:34Z","game":"World
        of Warcraft","length":164041,"preview":{"small":"https://vod-secure.twitch.tv/_404/404_processing_80x45.png","medium":"https://vod-secure.twitch.tv/_404/404_processing_320x180.png","large":"https://vod-secure.twitch.tv/_404/404_processing_640x360.png","template":"https://vod-secure.twitch.tv/_404/404_processing_{width}x{height}.png"},"animated_preview_url":"https://d1m7jfoe9zdc1j.cloudfront.net/f3075b89695740803129_streamerhouse_41233703357_1617155306/storyboards/969588438-strip-0.jpg","thumbnails":{"small":[],"medium":[],"large":[],"template":[]},"fps":{"160p30":30,"360p30":30,"480p30":30,"720p60":60,"audio_only":0,"chunked":61},"seek_previews_url":"https://d1m7jfoe9zdc1j.cloudfront.net/f3075b89695740803129_streamerhouse_41233703357_1617155306/storyboards/969588438-info.json","resolutions":{"160p30":"284x160","360p30":"640x360","480p30":"852x480","720p60":"1280x720","chunked":"1920x1080"},"restriction":"","channel":{"mature":false,"status":"Live
        Fast Eat Ash // Ambassador Access // TY Square! - 24/7 Live since 2013","broadcaster_language":"en","broadcaster_software":"unknown_rtmp","display_name":"StreamerHouse","game":"Outriders","language":"en","_id":44741426,"name":"streamerhouse","created_at":"2013-06-14T15:50:41.377211Z","updated_at":"2021-04-01T22:50:37.6997Z","partner":true,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/22bdb876-0fae-4d40-99c8-02fe30de9d47-profile_image-300x300.png","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/streamerhouse-channel_offline_image-643a63b6ee788b02-1920x1080.jpeg","profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/adc618bf-05cf-4b8c-acc6-bc7625cb20d9-profile_banner-480.png","profile_banner_background_color":"#ffffff","url":"https://www.twitch.tv/streamerhouse","views":59848048,"followers":633634,"broadcaster_type":"partner","description":"Twitch''s
        Only Live 24/7 Gaming House!  http://Facebook.com/StreamerHouse http://Youtube.com/StreamerHouse","private_video":false,"privacy_options_enabled":false},"increment_view_count_url":"https://countess.twitch.tv/ping.gif?u=%7B%22id%22%3A%22969588438%22%2C%22type%22%3A%22vod%22%7D"},{"title":"Jesus
        vs Hell, the DLC! - 24/7 Live since 2013","description":null,"description_html":null,"broadcast_id":41207537117,"broadcast_type":"archive","status":"recorded","tag_list":"","views":40205,"url":"https://www.twitch.tv/videos/967189614","language":"en","created_at":"2021-03-29T01:48:27Z","viewable":"public","viewable_at":null,"published_at":"2021-03-29T01:48:27Z","delete_at":"2021-05-28T01:48:27Z","_id":"v967189614","recorded_at":"2021-03-29T01:48:26Z","game":"DOOM
        Eternal","length":172793,"preview":{"small":"https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/7c4c84fbe094e3446325_streamerhouse_41207537117_1616982496//thumb/thumb0-80x45.jpg","medium":"https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/7c4c84fbe094e3446325_streamerhouse_41207537117_1616982496//thumb/thumb0-320x180.jpg","large":"https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/7c4c84fbe094e3446325_streamerhouse_41207537117_1616982496//thumb/thumb0-640x360.jpg","template":"https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/7c4c84fbe094e3446325_streamerhouse_41207537117_1616982496//thumb/thumb0-{width}x{height}.jpg"},"animated_preview_url":"https://d1m7jfoe9zdc1j.cloudfront.net/7c4c84fbe094e3446325_streamerhouse_41207537117_1616982496/storyboards/967189614-strip-0.jpg","thumbnails":{"small":[{"type":"generated","url":"https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/7c4c84fbe094e3446325_streamerhouse_41207537117_1616982496//thumb/thumb0-80x45.jpg"},{"type":"generated","url":"https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/7c4c84fbe094e3446325_streamerhouse_41207537117_1616982496//thumb/thumb1-80x45.jpg"},{"type":"generated","url":"https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/7c4c84fbe094e3446325_streamerhouse_41207537117_1616982496//thumb/thumb2-80x45.jpg"},{"type":"generated"[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/videos/followed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <OUTDATED_ACCESS_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"invalid oauth token"}'
  recorded_at: Thu, 01 Apr 2021 23:22:35 GMT
[...]
