---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-6057714f-694c97733aefa31d1a1404ae
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"streamassistantbot","scopes":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"user_id":"277558749","expires_in":13698}

        '
  recorded_at: Sun, 21 Mar 2021 16:16:15 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users/44322889
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <html>
          <head>
            <title>Test</title>
          </head>
          <body>
            <h1>Hello, world!</h1>
          </body>
        </html>
  recorded_at: Sun, 21 Mar 2021 16:16:16 GMT
recorded_with: VCR 6.0.0
