---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-60577158-05fe2f9e71b00ad76b574e09
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"streamassistantbot","scopes":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"user_id":"277558749","expires_in":13689}

        '
  recorded_at: Sun, 21 Mar 2021 16:16:24 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/channels/44322889
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <ACTUAL_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"mature":true,"status":"Slayin'' monsters in the new Dauntless patch!","broadcaster_language":"en","broadcaster_software":"unknown_rtmp","display_name":"dallas","game":"Dauntless","language":"en","_id":"44322889","name":"dallas","created_at":"2013-06-03T19:12:02Z","updated_at":"2021-03-21T14:49:08Z","partner":false,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/4d1f36cbf1f0072d-profile_image-300x300.png","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/51737668f60f7dcc-channel_offline_image-1920x1080.png","profile_banner":null,"profile_banner_background_color":null,"url":"https://www.twitch.tv/dallas","views":51007,"followers":259,"broadcaster_type":"affiliate","description":"Friendly,
        interactive, and very bald.","private_video":false,"privacy_options_enabled":false}'
  recorded_at: Sun, 21 Mar 2021 16:16:24 GMT
recorded_with: VCR 6.0.0
