---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <OUTDATED_ACCESS_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-60577384-67812dba70d8077203beee2d
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Sun, 21 Mar 2021 16:25:40 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"refresh_token","refresh_token":"<REFRESH_TOKEN>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-60577385-4c95fa3f5f4954102a85ae1e
    body:
      encoding: UTF-8
      string: '{"access_token":"<ACCESS_TOKEN>","expires_in":14395,"refresh_token":"<REFRESH_TOKEN>","scope":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"token_type":"bearer"}

        '
  recorded_at: Sun, 21 Mar 2021 16:25:41 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/videos/followed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - OAuth <NEW_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"videos":[{"title":"Epic Loots Mod! // !Valmods - 24/7 Live since
        2013","description":null,"description_html":null,"broadcast_id":41105686397,"broadcast_type":"archive","status":"recording","tag_list":"","views":1,"url":"https://www.twitch.tv/videos/957716874","language":"en","created_at":"2021-03-21T13:29:54Z","viewable":"public","viewable_at":null,"published_at":"2021-03-21T13:29:54Z","delete_at":"2021-05-20T13:29:54Z","_id":"v957716874","recorded_at":"2021-03-21T13:29:53Z","game":"Valheim","length":10547,"preview":{"small":"https://vod-secure.twitch.tv/_404/404_processing_80x45.png","medium":"https://vod-secure.twitch.tv/_404/404_processing_320x180.png","large":"https://vod-secure.twitch.tv/_404/404_processing_640x360.png","template":"https://vod-secure.twitch.tv/_404/404_processing_{width}x{height}.png"},"animated_preview_url":"https://d2nvs31859zcd8.cloudfront.net/11c4bcfcdfa8208c5179_streamerhouse_41105686397_1616333383/storyboards/957716874-strip-0.jpg","thumbnails":{"small":[],"medium":[],"large":[],"template":[]},"fps":{"160p30":30,"360p30":30,"480p30":30,"720p60":60,"audio_only":0,"chunked":61},"seek_previews_url":"https://d2nvs31859zcd8.cloudfront.net/11c4bcfcdfa8208c5179_streamerhouse_41105686397_1616333383/storyboards/957716874-info.json","resolutions":{"160p30":"284x160","360p30":"640x360","480p30":"852x480","720p60":"1280x720","chunked":"1920x1080"},"restriction":"","channel":{"mature":false,"status":"Epic
        Loots Mod! // !Valmods - 24/7 Live since 2013","broadcaster_language":"en","broadcaster_software":"unknown_rtmp","display_name":"StreamerHouse","game":"Valheim","language":"en","_id":44741426,"name":"streamerhouse","created_at":"2013-06-14T15:50:41.377211Z","updated_at":"2021-03-21T16:07:01.326426Z","partner":true,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/22bdb876-0fae-4d40-99c8-02fe30de9d47-profile_image-300x300.png","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/streamerhouse-channel_offline_image-643a63b6ee788b02-1920x1080.jpeg","profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/adc618bf-05cf-4b8c-acc6-bc7625cb20d9-profile_banner-480.png","profile_banner_background_color":"#ffffff","url":"https://www.twitch.tv/streamerhouse","views":59747173,"followers":633273,"broadcaster_type":"partner","description":"Twitch''s
        Only Live 24/7 Gaming House!  http://Facebook.com/StreamerHouse http://Youtube.com/StreamerHouse","private_video":false,"privacy_options_enabled":false},"increment_view_count_url":"https://countess.twitch.tv/ping.gif?u=%7B%22id%22%3A%22957716874%22%2C%22type%22%3A%22vod%22%7D"},{"title":"Grinding
        Epic Loot Mod // !Valmods - 24/7 Live since 2013","description":null,"description_html":null,"broadcast_id":41076207005,"broadcast_type":"archive","status":"recorded","tag_list":"","views":50069,"url":"https://www.twitch.tv/videos/955051340","language":"en","created_at":"2021-03-19T13:29:45Z","viewable":"public","viewable_at":null,"published_at":"2021-03-19T13:29:45Z","delete_at":"2021-05-18T13:29:45Z","_id":"v955051340","recorded_at":"2021-03-19T13:29:44Z","game":"Valheim","length":172795,"preview":{"small":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/0db98c88969eafc919e7_streamerhouse_41076207005_1616160574//thumb/thumb0-80x45.jpg","medium":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/0db98c88969eafc919e7_streamerhouse_41076207005_1616160574//thumb/thumb0-320x180.jpg","large":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/0db98c88969eafc919e7_streamerhouse_41076207005_1616160574//thumb/thumb0-640x360.jpg","template":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/0db98c88969eafc919e7_streamerhouse_41076207005_1616160574//thumb/thumb0-{width}x{height}.jpg"},"animated_preview_url":"https://d2nvs31859zcd8.cloudfront.net/0db98c88969eafc919e7_streamerhouse_41076207005_1616160574/storyboards/955051340-strip-0.jpg","thumbnails":{"small":[{"type":"generated","url":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/0db98c88969eafc919e7_streamerhouse_41076207005_1616160574//thumb/thumb0-80x45.jpg"},{"type":"generated","url":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/0db98c88969eafc919e7_streamerhouse_41076207005_1616160574//thumb/thumb1-80x45.jpg"},{"type":"generated","url":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/0db98c88969eafc919e7_streamerhouse_41076207005_1616160574//thumb/thumb2-80x45.jpg"},{"type":"generated"[...]
