---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <OUTDATED_ACCESS_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-60577382-5f5b7c303f4caf1b3af3e566
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Sun, 21 Mar 2021 16:25:38 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"refresh_token","refresh_token":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-60577383-669b4d1f3c8a8fd45e8d7875
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"missing refresh token"}

        '
  recorded_at: Sun, 21 Mar 2021 16:25:39 GMT
recorded_with: VCR 6.0.0
